<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <b>Joseph Kreydt</b>
    &emsp;
    <a href="{{ site.baseurl }}/">Latest Post</a>
    &emsp;
    <a href="{{ site.baseurl }}/list">All Posts</a>
    &emsp;
    <a href="https://www.kreydt.com" target="_blank">Link Tree</a>
    <hr></hr>
    {{ content }}
    <hr></hr>
    <a href="http://josephkreydt.substack.com" target="_blank">
      Newsletter
    </a>
    &emsp;
    <a href="/atom.xml" target="_blank">
      RSS
    </a>
    <p>
    &copy; Joseph Kreydt
    </p>
  </body>
</html>
